In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st

In [18]:
coal_df = pd.read_excel('Resources/coal.xlsx')
natural_gas_df = pd.read_excel('Resources/Natural_Gas.xlsx')
petroleum_df = pd.read_excel('Resources/Petroleum.xlsx')
renewables_df = pd.read_excel('Resources/Renewable_Energy.xlsx')
coal_df

,Month,Coal Production (Thousand Short Tons),Waste Coal Supplied (Thousand Short Tons),Coal Imports (Thousand Short Tons),Coal Exports (Thousand Short Tons),Coal Net Imports (Thousand Short Tons),Coal Stock Change (Thousand Short Tons),Coal Losses and Unaccounted for (Thousand Short Tons),Coal Consumption (Thousand Short Tons)
0,1973-01-01,49901.000,Not Available,2,2995,-2993,7744.46,-11415.1,50578.6
1,1973-02-01,46461.000,Not Available,2,2674,-2672,-1997.88,222.071,45564.8
2,1973-03-01,51188.000,Not Available,3,3470,-3467,1189.42,1128.63,45403
3,1973-04-01,47580.000,Not Available,4,5121,-5117,1218.52,-2082.02,43326.5
4,1973-05-01,52061.000,Not Available,10,5231,-5221,4230.62,-1390.38,43999.8
...,...,...,...,...,...,...,...,...,...
568,2020-05-01,36934.071,508.62,497.557,4719.5,-4221.94,2648.24,785.25,29787.3
569,2020-06-01,39258.833,522.227,284.114,4579.16,-4295.05,-5671.24,1254.86,39902.4
570,2020-07-01,43086.574,762.55,473.338,5358.97,-4885.63,-13484.3,-815.638,53263.5
571,2020-08-01,47393.655,Not Available,313.821,4522.49,-4208.67,Not Available,Not Available,Not Available
572,2020-09-01,45093.714,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available,Not Available

In [20]:
clean_coal = coal_df.drop(["Waste Coal Supplied (Thousand Short Tons)","Coal Imports (Thousand Short Tons)","Coal Exports (Thousand Short Tons)","Coal Losses and Unaccounted for (Thousand Short Tons)"],axis=1)
clean_coal

,Month,Coal Production (Thousand Short Tons),Coal Net Imports (Thousand Short Tons),Coal Stock Change (Thousand Short Tons),Coal Consumption (Thousand Short Tons)
0,1973-01-01,49901.000,-2993,7744.46,50578.6
1,1973-02-01,46461.000,-2672,-1997.88,45564.8
2,1973-03-01,51188.000,-3467,1189.42,45403
3,1973-04-01,47580.000,-5117,1218.52,43326.5
4,1973-05-01,52061.000,-5221,4230.62,43999.8
...,...,...,...,...,...
568,2020-05-01,36934.071,-4221.94,2648.24,29787.3
569,2020-06-01,39258.833,-4295.05,-5671.24,39902.4
570,2020-07-01,43086.574,-4885.63,-13484.3,53263.5
571,2020-08-01,47393.655,-4208.67,Not Available,Not Available
572,2020-09-01,45093.714,Not Available,Not Available,Not Available

In [17]:
natural_gas_df

,Month,Natural Gas Gross Withdrawals (Billion Cubic Feet),Natural Gas Marketed Production (Wet) (Billion Cubic Feet),NGPL Production (Billion Cubic Feet),Natural Gas Production (Dry) (Billion Cubic Feet),Supplemental Gaseous Fuels (Billion Cubic Feet),Natural Gas Imports (Billion Cubic Feet),Natural Gas Exports (Billion Cubic Feet),Natural Gas Net Imports (Billion Cubic Feet),Natural Gas Net Storage Withdrawals (Billion Cubic Feet),Natural Gas Balancing Item (Billion Cubic Feet),Natural Gas Consumption (Billion Cubic Feet)
0,1973-01-01,Not Available,1948.000,79.000,1869.000,Not Available,92.694,5.808,86.887,Not Available,Not Available,2348.000
1,1973-02-01,Not Available,1962.000,79.000,1883.000,Not Available,83.870,6.079,77.791,Not Available,Not Available,2126.000
2,1973-03-01,Not Available,1907.000,77.000,1830.000,Not Available,91.581,4.021,87.560,Not Available,Not Available,2015.000
3,1973-04-01,Not Available,1814.000,73.000,1741.000,Not Available,88.407,8.017,80.390,Not Available,Not Available,1835.000
4,1973-05-01,Not Available,1898.000,77.000,1821.000,Not Available,85.844,8.741,77.103,Not Available,Not Available,1729.000
...,...,...,...,...,...,...,...,...,...,...,...,...
566,2020-03-01,3565,3156.571,234.882,2921.689,5.799,217.087,497.399,-280.311,49.134,12.899,2709.209
567,2020-04-01,3375.29,2992.824,213.528,2779.297,5.723,193.401,420.731,-227.330,-306.21,-7.53,2243.949
568,2020-05-01,3301.6,2925.016,211.994,2713.022,4.937,189.403,395.307,-205.904,-448.006,4.392,2068.441
569,2020-06-01,3232.86,2872.114,225.820,2646.293,5.177,185.143,338.444,-153.301,-357.949,-4.591,2135.630
570,2020-07-01,3394.42,3021.945,240.765,2781.179,5.59,212.953,335.373,-122.420,-161.372,-8.235,2494.742

In [24]:
clean_natural_gas = natural_gas_df.drop(["Natural Gas Gross Withdrawals (Billion Cubic Feet)","NGPL Production (Billion Cubic Feet)","Natural Gas Production (Dry) (Billion Cubic Feet)","Natural Gas Net Imports (Billion Cubic Feet)", "Supplemental Gaseous Fuels (Billion Cubic Feet)","Natural Gas Balancing Item (Billion Cubic Feet)" ],axis=1)
clean_natural_gas

,Month,Natural Gas Marketed Production (Wet) (Billion Cubic Feet),Natural Gas Imports (Billion Cubic Feet),Natural Gas Exports (Billion Cubic Feet),Natural Gas Net Storage Withdrawals (Billion Cubic Feet),Natural Gas Consumption (Billion Cubic Feet)
0,1973-01-01,1948.000,92.694,5.808,Not Available,2348.000
1,1973-02-01,1962.000,83.870,6.079,Not Available,2126.000
2,1973-03-01,1907.000,91.581,4.021,Not Available,2015.000
3,1973-04-01,1814.000,88.407,8.017,Not Available,1835.000
4,1973-05-01,1898.000,85.844,8.741,Not Available,1729.000
...,...,...,...,...,...,...
566,2020-03-01,3156.571,217.087,497.399,49.134,2709.209
567,2020-04-01,2992.824,193.401,420.731,-306.21,2243.949
568,2020-05-01,2925.016,189.403,395.307,-448.006,2068.441
569,2020-06-01,2872.114,185.143,338.444,-357.949,2135.630
570,2020-07-01,3021.945,212.953,335.373,-161.372,2494.742

In [23]:
petroleum_df

,Month,"Crude Oil Production, 48 States (Thousand Barrels per Day)","Crude Oil Production, Alaska (Thousand Barrels per Day)","Crude Oil Production, Total (Thousand Barrels per Day)",Natural Gas Liquids Production (Thousand Barrels per Day),Total Petroleum Field Production (Thousand Barrels per Day),Renewable Fuels and Oxygenate Plant Net Production (Thousand Barrels per Day),Petroleum Processing Gain (Thousand Barrels per Day),Petroleum Imports (Thousand Barrels per Day),Petroleum Exports (Thousand Barrels per Day),Petroleum Net Imports (Thousand Barrels per Day),Petroleum Stock Change (Thousand Barrels per Day),Petroleum Adjustments (Thousand Barrels per Day),Petroleum Products Supplied (Thousand Barrels per Day)
0,1973-01-01,8981.323,194.613,9175.935,1680.032,10855.968,Not Available,457.677,5857.097,210.613,5646.484,-1718.323,34.194,18712.645
1,1973-02-01,9178.750,216.464,9395.214,1744.893,11140.107,Not Available,409.857,6507.286,260.964,6246.321,-1407.357,-109.500,19094.143
2,1973-03-01,9098.194,173.742,9271.935,1734.484,11006.419,Not Available,401.677,6610.161,224.194,6385.968,672.806,94.968,17216.226
3,1973-04-01,9095.200,196.700,9291.900,1749.600,11041.500,Not Available,373.500,5593.367,275.567,5317.800,871.267,59.000,15920.533
4,1973-05-01,9062.548,199.839,9262.387,1739.258,11001.645,Not Available,533.419,5840.935,237.387,5603.548,658.032,145.226,16625.806
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568,2020-05-01,9614.665,404.121,10018.785,4744.871,14763.656,781.322,806.710,7756.871,6817.574,939.297,1242.020,54.264,16103.228
569,2020-06-01,10085.399,360.975,10446.374,5197.333,15643.708,969.196,872.500,8367.233,7692.178,675.056,1168.138,442.883,17435.204
570,2020-07-01,10539.650,444.104,10983.754,5368.935,16352.690,1033.11,935.516,7845.581,8411.704,-566.123,-56.598,510.803,18322.588
571,2020-08-01,9959.539,446.913,10406.452,4803.253,15209.705,960.55,912.854,7404.555,7799.194,-394.639,-1070.773,538.348,18297.591
572,2020-09-01,10292.419,444.248,10736.667,5197.333,15934.000,924.52,867.443,7303.737,7818.367,-514.630,-424.440,247.338,17883.111

In [25]:
clean_petroleum = petroleum_df.drop (["Crude Oil Production, 48 States (Thousand Barrels per Day)","Crude Oil Production, Alaska (Thousand Barrels per Day)","Crude Oil Production, Total (Thousand Barrels per Day)","Natural Gas Liquids Production (Thousand Barrels per Day)","Renewable Fuels and Oxygenate Plant Net Production (Thousand Barrels per Day)","Petroleum Processing Gain (Thousand Barrels per Day)","Petroleum Net Imports (Thousand Barrels per Day)","Petroleum Adjustments (Thousand Barrels per Day)"],axis=1)
clean_petroleum

,Month,Total Petroleum Field Production (Thousand Barrels per Day),Petroleum Imports (Thousand Barrels per Day),Petroleum Exports (Thousand Barrels per Day),Petroleum Stock Change (Thousand Barrels per Day),Petroleum Products Supplied (Thousand Barrels per Day)
0,1973-01-01,10855.968,5857.097,210.613,-1718.323,18712.645
1,1973-02-01,11140.107,6507.286,260.964,-1407.357,19094.143
2,1973-03-01,11006.419,6610.161,224.194,672.806,17216.226
3,1973-04-01,11041.500,5593.367,275.567,871.267,15920.533
4,1973-05-01,11001.645,5840.935,237.387,658.032,16625.806
...,...,...,...,...,...,...
568,2020-05-01,14763.656,7756.871,6817.574,1242.020,16103.228
569,2020-06-01,15643.708,8367.233,7692.178,1168.138,17435.204
570,2020-07-01,16352.690,7845.581,8411.704,-56.598,18322.588
571,2020-08-01,15209.705,7404.555,7799.194,-1070.773,18297.591
572,2020-09-01,15934.000,7303.737,7818.367,-424.440,17883.111

In [26]:
renewables_df

,Month,Wood Energy Production (Trillion Btu),Biofuels Production (Trillion Btu),Total Biomass Energy Production (Trillion Btu),Total Renewable Energy Production (Trillion Btu),Hydroelectric Power Consumption (Trillion Btu),Geothermal Energy Consumption (Trillion Btu),Solar Energy Consumption (Trillion Btu),Wind Energy Consumption (Trillion Btu),Wood Energy Consumption (Trillion Btu),Waste Energy Consumption (Trillion Btu),Biofuels Consumption (Trillion Btu),Total Biomass Energy Consumption (Trillion Btu),Total Renewable Energy Consumption (Trillion Btu)
0,1973-01-01,129.630,Not Available,129.787,403.981,272.703,1.491,Not Available,Not Available,129.630,0.157,Not Available,129.787,403.981
1,1973-02-01,117.194,Not Available,117.338,360.900,242.199,1.363,Not Available,Not Available,117.194,0.144,Not Available,117.338,360.900
2,1973-03-01,129.763,Not Available,129.938,400.161,268.810,1.412,Not Available,Not Available,129.763,0.176,Not Available,129.938,400.161
3,1973-04-01,125.462,Not Available,125.636,380.470,253.185,1.649,Not Available,Not Available,125.462,0.174,Not Available,125.636,380.470
4,1973-05-01,129.624,Not Available,129.834,392.141,260.770,1.537,Not Available,Not Available,129.624,0.210,Not Available,129.834,392.141
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,2020-03-01,189.162,183.663,410.886,995.023,202.739,18.946,94.035,268.416,179.141,38.061,162.492,379.693,963.830
567,2020-04-01,182.014,112.893,330.230,919.439,189.099,17.553,113.675,268.881,173.630,35.323,112.394,321.348,910.557
568,2020-05-01,190.617,136.585,363.013,1040.212,268.273,18.312,134.061,256.554,182.582,35.810,145.906,364.299,1041.498
569,2020-06-01,179.179,164.111,375.833,1060.066,260.567,17.424,131.784,274.458,169.606,32.542,166.727,368.875,1053.109
570,2020-07-01,185.801,180.789,401.080,1003.547,236.338,18.571,140.897,206.661,176.805,34.490,179.397,390.692,993.159

In [27]:
clean_renewables = renewables_df
clean_renewables

,Month,Wood Energy Production (Trillion Btu),Biofuels Production (Trillion Btu),Total Biomass Energy Production (Trillion Btu),Total Renewable Energy Production (Trillion Btu),Hydroelectric Power Consumption (Trillion Btu),Geothermal Energy Consumption (Trillion Btu),Solar Energy Consumption (Trillion Btu),Wind Energy Consumption (Trillion Btu),Wood Energy Consumption (Trillion Btu),Waste Energy Consumption (Trillion Btu),Biofuels Consumption (Trillion Btu),Total Biomass Energy Consumption (Trillion Btu),Total Renewable Energy Consumption (Trillion Btu)
0,1973-01-01,129.630,Not Available,129.787,403.981,272.703,1.491,Not Available,Not Available,129.630,0.157,Not Available,129.787,403.981
1,1973-02-01,117.194,Not Available,117.338,360.900,242.199,1.363,Not Available,Not Available,117.194,0.144,Not Available,117.338,360.900
2,1973-03-01,129.763,Not Available,129.938,400.161,268.810,1.412,Not Available,Not Available,129.763,0.176,Not Available,129.938,400.161
3,1973-04-01,125.462,Not Available,125.636,380.470,253.185,1.649,Not Available,Not Available,125.462,0.174,Not Available,125.636,380.470
4,1973-05-01,129.624,Not Available,129.834,392.141,260.770,1.537,Not Available,Not Available,129.624,0.210,Not Available,129.834,392.141
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,2020-03-01,189.162,183.663,410.886,995.023,202.739,18.946,94.035,268.416,179.141,38.061,162.492,379.693,963.830
567,2020-04-01,182.014,112.893,330.230,919.439,189.099,17.553,113.675,268.881,173.630,35.323,112.394,321.348,910.557
568,2020-05-01,190.617,136.585,363.013,1040.212,268.273,18.312,134.061,256.554,182.582,35.810,145.906,364.299,1041.498
569,2020-06-01,179.179,164.111,375.833,1060.066,260.567,17.424,131.784,274.458,169.606,32.542,166.727,368.875,1053.109
570,2020-07-01,185.801,180.789,401.080,1003.547,236.338,18.571,140.897,206.661,176.805,34.490,179.397,390.692,993.159